    <%= render 'shared/error', obj: @user %>
    <%= form_for @user, :html => {role: "form"} do |f| %>
      <div class="form-group">
      <div align="center">
        <div class="form-group">
          <%= image_tag @user.avatar %>
        </div>
        <div class="form-group">
        
          <label class="btn btn-secondary" style="width: 200px">
            Browse avatar <%= f.file_field :avatar , hidden: true %>
          </label>
        </div>
      </div>
      </div>
    
      <div class="form-group">        
        <%= f.label :username %> 
        <%= f.text_field :username, class: "form-control", placeholder: "Enter username", autofocus: true %>
      </div>
      
      <div class="form-group">        
        <%= f.label :email %>     
        <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
      
      </div>
      
      <div class="form-group">        
        <%= f.label :password %>        
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>

      <div class="form-group">        
        <%= f.label :password_confirmation %>        
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
      </div>
      <div class="form-group">        
        <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: 'btn btn-primary btn-block') %>
      </div>
      
    <% end %>